@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  outline: none !important;
}

/* custom style for react toast component */
.Toastify__toast {
  min-height: 25px !important;
  font-size: 0.9rem;
}

/* .Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
} */

/* 
* {
  transition: all .2s ease-in-out;
} */

.home-hero-section {
  background-image: url("/home-hero.webp");
}


/* product gallery styles */
.gallery-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}



@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


.gallery-slide.active {
  opacity: 1;
  z-index: 10;
}


.SelectContent {
  width: var(--radix-select-trigger-width);
  /* max-height: var(--radix-select-content-available-height); */
}

/* styles.css */
.PopoverContent {
  width: var(--radix-popover-trigger-width);
  /* max-height: var(--radix-popover-content-available-height); */
}

@media (min-width: 768px) {
  .category-list::before {
    content: "";
    /* width: 200vw; */
    position: fixed;
    top: 93px;
    /* Fixed: changed `top: 10` to `top: 10px` */
    height: 0.8px;
    background-color: rgba(0, 0, 0, 0.15);
    right: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .header-search-container::before {
    content: "";
    /* width: 200vw; */
    position: fixed;
    top: 88px;
    /* Fixed: changed `top: 10` to `top: 10px` */
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    right: 0;
    left: 0;
  }
}