@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom style for react toast component */
.Toastify__toast {
  min-height: 25px !important;
  font-size: 0.9rem;
}

/* .Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
} */


* {
  transition: all .2s ease-in-out;
}

.home-hero-section {
  background-image: url("/home-hero.webp");
}